.reg{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 20px;
}

.registerDiv{
  display: grid;
  justify-content: center;
  text-align: center;
}

.registerForm{
  width: 80%;
  margin: 15px;
  display: grid;
  justify-content: center;
}

.registerForm input{
  font-size: 120%;
  border: solid 2px var(--front);
  background-color: var(--supper);
  text-align: center;
  border-radius: 10px;
  display: inline-grid;
  width: 100%;
}

.registerForm label{
  font-size: 20px;
  display: inline-grid;
}

.formButton{
  display: inline;
  background-color: var(--supper);
  margin: 5px;
  border: solid 2px var(--front);
  border-radius: 3px;
  transition: 0.4s;
}

.formButton:hover{
  background-color: var(--front);
}

.error{
  color: red;
}

.hide{
  display: none;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 30%;
  z-index: 999;
  color: red;
}

.cont{
  margin: auto;
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  padding: 50px 0;
  border-radius: 20px;
}

.useE:hover + .useHide{
  display: block;
  top: 100px;
}
.fnE:hover + .fnHide{
  display: block;
  top: 165px;
}
.lnE:hover + .lnHide{
  display: block;
  top: 230px;
}
.pwE:hover + .pwHide{
  display: block;
  top: 295px;
}
.rpE:hover + .rpHide{
  display: block;
  top: 360px;
}
.emE:hover + .emHide{
  display: block;
  top: 425px;
}
.telE:hover + .telHide{
  display: block;
  top: 490px;
}
.adE:hover + .adHide{
  display: block;
  top: 555px;
}
.ctE:hover + .ctHide{
  display: block;
  top: 620px;
}

